h1 {
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

body {
    background-image: radial-gradient(rgb(250, 94, 89), rgb(233, 209, 104));
    color: black
}

.container {
    background-image: radial-gradient(rgb(61, 141, 245), lightblue);
}

#empty-div {
    border: 1px solid purple;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

@media screen and (max-width: 640px) {
    #empty-div {
        width: 200px;
        position: relative;
        right: 115px;
    }
}